workout-card {
    .card{
        margin-left: 16px;
    }
    ion-card {
        ion-card-header{
            color: color($colors, secondary)!important;
        }
        background: color($colors, dark)!important;
        p {
            color: color($colors, primary)!important;
        }
        ion-label {
            color: color($colors, dark);
        }
        ion-item {
            background: color($colors, light)!important;
            cursor: pointer!important;
        }
        .badge {
            color: color($colors, danger);
            background-color: color($colors, dark);
        }
    }
}