exercise-thumbnail {
    ion-thumbnail {
        img {
            height: 80px!important;
            width: 80px!important;
        };
        margin: 2px 1px 2px 1px!important;
        display: flex;
        justify-content: center;
    };
    #exercise-set-list {
        margin-bottom: 0px;
    };
    #exercise-set-list-item {
        padding-left: 0px;
    };
    .rep {
        // height: 80px;
        margin: 2px 0px 2px 0px ;
    }
    .nonActiveRep {
        background: color($colors, secondary);;
        color: color($colors, primary);
    }
    .button-clear {
        color: color($colors, primary);
    }
    .activeRep {
        background: color($colors, danger);
        color: color($colors, dark);;
    }

    .noTopMargin {
        margin-top: 0px;
    }
    .noBottomMargin {
        margin-bottom: 0px;
    }
    .imageWrap {
        display:inline-block;position:relative;
    }
}
