<div [ngSwitch]="DisplayMode">
    <div *ngSwitchCase="displayMode.Workout">
        <div [hidden]="IsRunning">
            <ion-list id='exercise-set-list' no-lines>
                <ion-item id='exercise-set-list-item' *ngFor="let exerciseSet of exercise.sets" 
                         [ngClass]="getTopBottomMarginClass(exerciseSet)">
                    <ion-thumbnail item-start>
                        <img src={{exerciseSet.imageUrl}} />
                    </ion-thumbnail>
                    <button ion-button *ngIf="isFirstSet(exerciseSet)" class="btn-warning pull-right" 
                                (click)="runExercise()">
                                Start
                    </button>
                    <h3>{{exerciseSet.name}}</h3>
                    <exercise-variation 
                        #variationComponent [exerciseSet]="exerciseSet" >
                    </exercise-variation>                        
                    
                </ion-item>
                <ion-item *ngIf='IsFrozen && exerciseSet'>
                    <ion-col *ngFor="let rep of exerciseSet.reps" 
                        class="rep" [ngClass]="getFrozenExerciseSetRepCellClass()">
                        <div *ngIf='rep.weight'>
                            <h4 text-center>{{rep.weight}}<small>{{' ' + weightUnit[rep.weightUnit]}}</small></h4>
                        </div>
                        <div *ngIf='rep.times'>
                            <h4 text-center>{{rep.times}}<small>{{' Times'}}</small>
                            </h4>
                        </div>
                        <div *ngIf='rep.seconds'>
                            <h4 text-center>{{rep.seconds}}<small>{{' Seconds'}}</small>
                            </h4>
                        </div>
                    </ion-col>
                </ion-item>
            </ion-list> 
        </div>
        <div [hidden]="!IsRunning">
            <ion-grid>
                <ion-row>
                    <ion-col *ngFor="let exerciseSet of exercise.sets" >    
                        <h3 text-wrap text-center>{{exerciseSet.name}}</h3> 
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngFor="let exerciseSet of exercise.sets">                       
                        <ion-thumbnail >
                            <img src={{exerciseSet.imageUrl}} />
                        </ion-thumbnail> 
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col *ngFor="let exerciseSet of exercise.sets" >      
                        <exercise-variation [exerciseSet]="exerciseSet" text-wrap text-center>            
                        </exercise-variation> 
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let exerciseSet of exercise.sets">
                    <ion-col *ngFor="let rep of exerciseSet.reps; let i = index" class="rep" 
                            [ngClass]="getRunningExerciseSetRepCellClass(i)" padding-vertical>
                        <div *ngIf='rep.weight'>
                            <h4 text-center>{{rep.weight}}<small>{{' ' + weightUnit[rep.weightUnit]}}</small></h4>
                        </div>
                        <div *ngIf='rep.times'>
                            <h4 text-center>{{rep.times}}<small>{{' Times'}}</small>
                                <ion-icon *ngIf='isRepCompleted(i)' name="checkmark"></ion-icon>
                            </h4>
                        </div>
                        <div *ngIf='rep.seconds'>
                            <h4 text-center>{{rep.seconds}}<small>{{' Seconds'}}</small>
                                <ion-icon *ngIf='isRepCompleted(i)' name="checkmark"></ion-icon>
                            </h4>
                        </div>
                        <div class='text-center' *ngIf="isTimedRepRemaining(i)">{{timedRepRemaining}} Seconds
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <div *ngIf="isResting">
                        <button ion-button class="btn-warning btn-lg col-sm-4 col-sm-offset-4 activeRep" (click)="skipRest()">
                            Rest {{timedRestRemaining}} Seconds or Skip
                        </button>
                    </div>
                    <div *ngIf="!isResting">
                        <button ion-button class="btn-info btn-sm col-sm-1 col-sm-offset-4 glyphicon glyphicon-triangle-left margin_top"
                            [disabled]="!isPrevRepAvailable" (click)="prevRep()">
                        </button>
                        <button ion-button class="btn-success btn-lg col-sm-2 activeRep" (click)="nextRep(true)">
                            Done!
                        </button>
                        <button ion-button class="btn-info btn-sm col-sm-1 glyphicon glyphicon-triangle-right margin_top"
                            (click)="nextRep(false)">
                        </button>
                    </div>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div *ngSwitchCase="displayMode.Edit">

    </div>
    <div *ngSwitchDefault>
        <ion-list id='exercise-set-list' no-lines>
            <ion-item *ngFor="let exerciseSet of exercise.sets" 
                    id='exercise-set-list-item'>
                <ion-thumbnail item-start>
                    <img src={{exerciseSet.imageUrl}} />
                </ion-thumbnail>
                <h2 text-wrap>{{exerciseSet.name}}</h2>
                <exercise-variation [exerciseSet]="exerciseSet">            
                </exercise-variation>                         
            </ion-item>
        </ion-list>
    </div>
</div>
