exercise-thumbnail {
    ion-thumbnail {
        img {
            height: 80px!important;
            width: 80px!important;
        };
        margin: 2px 1px 2px 1px!important;
        display: flex;
        justify-content: center;
    };
    #exercise-set-list {
        margin-bottom: 0px;
    };
    #exercise-set-list-item {
        padding-left: 0px;
    };
    .rep {
        // height: 80px;
        margin: 2px 0px 2px 0px ;
    }
    .nonActiveRep {
        background: #17183b;
        color: rgb(233, 185, 55)
    }

    .activeRep {
        background: rgb(233, 185, 55);
        color: #17183b;
    }

    .noTopMargin {
        margin-top: 0px;
    }
    .noBottomMargin {
        margin-bottom: 0px;
    }
    .imageWrap {
        display:inline-block;position:relative;
    }
}
