exercise-thumbnail {
    ion-thumbnail {
        img {
            height: 80px!important;
            width: 80px!important;
        };
        margin: 4px 2px 4px 4px!important;
    };
    #exercise-set-list {
        margin-bottom: 0px;
    };
    #exercise-set-list-item {
        padding-left: 0px;
    };
    h2 {
        margin: 0px 0px 0px 2px!important;
    }
}
