<div [ngSwitch]="DisplayMode">
    <div *ngSwitchCase="displayMode.Workout">
        <div [hidden]="IsRunning">

        </div>
        <div [hidden]="!IsRunning">
            <ion-grid>
                <ion-row>
                    <ion-col  *ngFor="let exerciseSet of exercise.sets" >    
                        <h3 text-wrap text-center>{{exerciseSet.name}}</h3> 
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col  *ngFor="let exerciseSet of exercise.sets">                       
                        <ion-thumbnail >
                            <img src={{exerciseSet.imageUrl}} />
                        </ion-thumbnail> 
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col  *ngFor="let exerciseSet of exercise.sets" >      
                        <exercise-variation [exerciseSet]="exerciseSet" text-wrap text-center>            
                        </exercise-variation> 
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let exerciseSet of exercise.sets">
                    <ion-col *ngFor="let rep of exerciseSet.reps; let i = index" class="rep" 
                    [ngClass]="getRunningExerciseSetRepCellClass(i)" padding-vertical>
                        <div *ngIf='rep.weight'>
                            <h4 text-center>{{rep.weight}}<small>{{' ' + weightUnit[rep.weightUnit]}}</small></h4>
                        </div>
                        <div *ngIf='rep.times'>
                            <h4 text-center>{{rep.times}}<small>{{' Times'}}</small>
                                <span *ngIf='isRepCompleted(i)' class='glyphicon glyphicon-ok'></span>
                            </h4>
                        </div>
                        <div *ngIf='rep.seconds'>
                            <h4 text-center>{{rep.seconds}}<small>{{' Seconds'}}</small>
                                <span *ngIf='isRepCompleted(i)' class='glyphicon glyphicon-ok'></span>
                            </h4>
                        </div>
                        <div class='text-center' *ngIf="isTimedRepRemaining(i)">{{timedRepRemaining}} Seconds
                        </div>
                    </ion-col>
                </ion-row>

            </ion-grid>

        </div>
    </div>
    <div *ngSwitchCase="displayMode.Edit">

    </div>
    <div *ngSwitchDefault>
        <ion-list id='exercise-set-list' no-lines>
            <ion-item *ngFor="let exerciseSet of exercise.sets" 
                    id='exercise-set-list-item'>
                <ion-thumbnail item-start>
                    <img src={{exerciseSet.imageUrl}} />
                </ion-thumbnail>
                <h2 text-wrap>{{exerciseSet.name}}</h2>
                <exercise-variation [exerciseSet]="exerciseSet">            
                </exercise-variation>                         
            </ion-item>
        </ion-list>
    </div>
</div>
