workout-day {
    #workout-day-list-col {
        padding: 0px!important;
    }
    #workout-day-list {
        height: 60vh;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 0px;
    }; 
    #workout-day-list-item {
        padding-left: 0px;
        margin: 1px;
    };
    .item-inner {
        padding-right: 0px!important;
    };
    ion-label {
        margin: 0px!important;
    };
    ion-grid {
        padding: 0px!important;
    }
}
