workout-day {
    h3 {
        color: color($colors, primary)!important;
    }
    #workout-day-list-col {
        margin-left: 15px!important;
        margin-right: -10px!important;
        margin-top: -7px!important;
    }
    #workout-day-list {
        height: 70vh;
        width: 100vw;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-bottom: 0px;
        margin-right: -52px;
        padding-right: 52px;
    };
    #workout-day-list-item {
        padding-left: 0px;
        margin-left: 5px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    };
    .item-inner {
        padding-right: 0px!important;
    };
    ion-label {
        margin-left: 5px!important;
    };
    ion-grid {
        padding: 0px!important;
    }
    #workout-day-last-row {
        margin-top: -15px;
        margin-left: 15px;
    }
}
