// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.tabs .tabbar, .toolbar-background {
    background: color($colors, danger)
}
.button {
    color: color($colors, light);
}
.button-clear,
.toolbar-title,
.tabs .tab-button[aria-selected=true],
.tabs .tab-button[aria-selected=true] .tab-button-icon,
.tabs .tab-button[aria-selected=true] .tab-button,
.tabs .tab-button:hover:not(.disable-hover),
.card-header,
.bar-button-default,
.bar-button-default.bar-button-default,
.bar-button-clear-default {
    color: color($colors, dark)
}

.content {
    background: color($colors, dark);
    color: color($colors, danger)
}
.item {
    background-color: color($colors, dark);
    color: color($colors, light)
}
ion-app.ios [padding] .scroll-content,
ion-app.md [padding] .scroll-content {
    padding: 0px;
}
.swiper-pagination-bullet {
    background: color($colors, danger)
}
.swiper-pagination-bullet-active {
    background: color($colors, danger);
}
.scroll-content {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: -52px;
    padding-right: 52px;
}
