exercise-variation {
    h3 {
        color: color($colors, danger)
    }
    h3.clicker {
        cursor: pointer!important;
    }
}
.select-popover ion-list {
    .item {
        background: color($colors, danger);
    }
}
.popover-ios {
    .popover-arrow::after {
        background: color($colors, danger);
    }
    .popover-content {
        background: color($colors, danger);
        width: 250px;
    }
    ion-list {
        .item {
            background: color($colors, danger);
            font-size: small;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.popover-md {
    .popover-arrow::after {
        background: color($colors, danger);
    }
    .popover-content {
        background: color($colors, danger);
        width: 250px;
    }
    ion-list {
        .item {
            background: color($colors, danger);
            font-size: small;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.popover-viewport {
    .label {
        margin: 0px!important;
    }
}