<ion-list>
<ion-item align-items-center justify-content-center>
    <ion-label>Grip Type</ion-label>
    <ion-select interface="popover"
        [(ngModel)]="exerciseSet.theGrip.typeOfGrip">
        <ion-option *ngFor="let gripType of gripTypes"
        value={{gripType}}>
        {{gripType}}
        </ion-option>
    </ion-select>
</ion-item>
<ion-item>
    <ion-label>Grip Width</ion-label>
    <ion-select interface="popover"
        [(ngModel)]="exerciseSet.theGrip.width">
        <ion-option *ngFor="let gripWidth of gripWidths"
        value={{gripWidth}}>
        {{gripWidth}}
        </ion-option>
    </ion-select>
</ion-item>
<ion-item>
<ion-label>Weight Type</ion-label>
<ion-select interface="popover"
    [(ngModel)]="exerciseSet.typeOfWeight">
    <ion-option *ngFor="let weightType of weightTypes"
       value={{weightType}}>
       {{weightType}}
    </ion-option>
</ion-select>
</ion-item>
</ion-list>
